#root {
  max-width: 1600px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.translate-container {
  width: 100vw;
  max-width: 1600px;
  min-height: 60vh;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 3rem;
  margin: 2rem auto;
  border-radius: 20px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(8px);
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: space-between;
}


textarea {
  width: 100%;
  min-height: 150px;
  resize: none;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  overflow-y: auto;
}

button {
  margin-top: 1rem;
}

.back-to-top {
  display: flex;
  align-items: center;
  background-color: #4caf50;
  color: #000000;
  border: none;
  margin: 2.5rem auto 0 auto;
  border-radius: 50px;
  padding: 12px 15px;
  font-size: 1rem;
  cursor: pointer;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  transition: background-color 0.3s ease, transform 0.2s ease;
  z-index: 1000;
}

.back-to-top:hover {
  background-color: #45a049;
  transform: scale(1.05);
}

