html, body {
  margin: -10px;
  padding: 0;
  min-height: 100vh;
  background-image: url("./Public/images/BGNovel.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(17, 234, 234, 0.87);
}
